/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
**/.hvigor
**/.preview
**/*.bak
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.claude
/build-profile.json5
*.hap
*.hsp
*.app
